* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
} 

.app {
  max-width: 600px;
  min-height: 100vh;
  margin:auto;
  overflow-y: auto;
  background-color: black;
  
}

.main__page {
  display: flex;
  flex-direction: column;
  gap:24px;
}

.header__block {
  padding: 20px;
  background-color: #191919;
  border-radius: 0 0 20px 20px;
  color: white;
  font-size: 24px;
}

.balance__block {
  font-size: 26px;
  font-weight: 500;
  padding: 20px;
  background-color: #191919;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap:10px;
  color: white;
}

.button__block {
  background-color: #3C3C3C;
  font-size: 24px;
  height: 55px;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.currency__block {
  font-size: 26px;
  font-weight: 500;
  padding: 20px;
  background-color: #191919;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color:white;
  gap:10px;
}
.currency__block__tokens {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:15px;
}

.currency__block__token {
  padding: 10px 5px;
  display: flex;
  gap:10px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
}

.currency__block__token__img {
  width: 40px;
  height: 40px;
}

.balance__block__token__img {
  width: 25px;
  height: 25px;
}

.balance__block__tokens {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap:10px;
}

.balance__block__token {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance__block__token__title {
  display: flex;
  align-items: center;
  gap:10px;
}

.balance__block__token__value {
  font-size: 18px;
  color: #a6a6a6;
  font-weight: 500;
}

.transactions__block {
  font-size: 26px;
  font-weight: 500;
  padding: 20px;
  background-color: #191919;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color:white;
  gap:10px;
}

.transactions__block__tr {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 18px;
  gap:3px;
  background-color: #3C3C3C;
  padding: 10px;
  border-radius: 10px;
}

.transactions__block__tr:hover {
  background-color: #4d4d4d;
  transform: translateY(-2px);
}


.withdraw__inputs {
  font-size: 22px;
  font-weight: 500;
  padding: 20px;
  background-color: #191919;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.withdraw__input {
  display: flex;
  flex-direction: column;
  gap:5px;
  color:white;
}

.withdraw__input__field {
  background-color: #191919;
  border-radius: 20px;
  padding: 10px;
  font-size: 22px;
  appearance: none;
  color:white;
  background-color: #3C3C3C;
  outline: none;
  border: none;
}

.loader {
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 600px;
  color:white;
  letter-spacing: 2px;
  font-size: 28px;
  margin: auto;
}

.not__found {
  color:white;
  margin: 10px auto;
  font-size: 16px;
}

.currency__blocks {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.transaction__date {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px 0;
  font-size: 18px;
}